<h1>Question Show Page</h1>
<h2><%= @question.title %></h2>
<p><%= @question.body %></p>

<p><small>Created at: <%= @question.created_at %>, Views: <%= @question.view_count %></small></p>
<label>Created by: <%= @question.user.full_name%> </label>
<small>Liked by: <%= @question.likes.count %> </small>
<p><strong>Tags:</strong> <%= @question.tags.map(&:name).join(", ") %></p>
<% if can? :crud, @question %>
    <%= button_to 'Edit', edit_question_path(@question), method: :get %>
    <%= button_to 'Delete', question_path(@question), method: :delete, data: { confirm: "Are you sure?"} %>
<% end %>
<small>
    <% if @like.present? %>
        <%= button_to "Unlike", like_path(@like), method: :delete %>
    <% else %>
        <%= button_to 'Like', question_likes_path(@question), method: :post %>
    <% end %>
</small>

<h4>Answers</h4>

<ul>
    <% @answers.each do |answer| %>
        <li>
            <%= answer.body%>
            <small>Answered <%= time_ago_in_words(answer.created_at) %> ago by <label>Created by: <%= answer.user.full_name%> </label>
            </small>
            <% if can? :crud, answer %>
                <%= button_to "Delete", question_answer_path(@question.id, answer.id), method: :delete %>
            <% end %>
        </li>
    <% end %>
</ul>

<hr>

<h4>Write your answer</h4>

<% if @answer.errors.any? %>
    <ul>
        <% @answer.errors.full_messages.each do |msg| %>
            <li>
                <%= msg %>
            </li>
        <% end %>
    </ul>
<% end %>

<%= form_with(model:[@question, @answer]) do |f|%>

    <div>
        <%= f.label :body%>
        <br>
        <%= f.text_area :body, cols:50, rows: 5  %>
    </div>

    <%= f.submit "Answer" %>

<% end %>