<h1>Edit User Profile</h1>
<% if @user.errors.any? %>
    <p><%= @user.errors.full_messages.join(', ') %> </p>
<% end %>

<%= form_with model: @user do |f| %>
    <div>
        <%= f.label :first_name%>
        <%= f.text_field :first_name%>
    </div>
    <div>
        <%= f.label :last_name%>
        <%= f.text_field :last_name%>
    </div>
    <div>
        <%= f.label :email%>
        <%= f.text_field :email%>
    </div>
    <%= f.submit "Update" %>
<% end %>

<%= link_to 'Change Password', user_edit_password_path(@user.id) %>