<h1>Change Password</h1>
<%= form_with model: @user, url: user_update_password_path(@user.id), local: true do |f| %>
    <% if @user.errors.any? %>
        <p><%= @user.errors.full_messages.join(', ') %> </p>
    <% end %>
    <div>
        <div>
            <%= f.label :current_password, "Current Password" %>
            <%= f.password_field :current_password, placeholder: "Old password" %>
            <%= f.label :new_password, "New Password" %>
            <%= f.password_field :new_password, placeholder: "New password" %>
            <%= f.password_field :new_password_confirmation, placeholder: "Confirm New password" %>
        </div>
    </div>
    <%= f.submit "Update Password"%>
<% end %>